

.etiqueta {
    font-weight: normal;
}

.subbloquecomparacion,.etiqueta {
    margin-bottom: 5px;
    background-position-y: center;
    background-position-x: left;
    background-repeat: no-repeat;
    background-size: 20px;
    height: 22.5px;
}
.bloquecomparacion {
    border : 1px solid black;
}

#Cliente {
    float: left;
    width: 20%;
}

#Oferta1 {
    float: left;
    width: 20%;
}
#Oferta2 {
    float: left;
    width: 20%;
}

#Etiqueta,#Limitaciones {
    float: left;
    width: 10%;
}

.separacion{
    border-bottom: 1px solid rgb(0,176,240);
}

.separacion_seleccionada{
    border-bottom: 1px solid #5bc500;
}

.titulo_seccion {
    width:150px;
    border-bottom: 1px solid rgb(0,176,240);
}

td, th {
    width: 130px;
}

