div.btnGuardar{
    background-color: #5bc500;
    color: white;
    border-radius: 10px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: normal;
}

div.btnGuardar:hover{
    -webkit-transition-duration: 0.4s;
    background-color: white;
    color: #5bc500;
    border: 2px solid #5bc500;
}

.Equipamiento{
    padding: 2px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: normal;
    color:#00a9e0;
    border: 1px solid #00a9e0;
    border-radius: 5px;
    
}

.Equipamiento:hover{
    -webkit-transition-duration: 0.4s;
    background-color: #00a9e0;
    color: white;
    cursor: pointer;
}

.EquipamientoAdicional{
    padding: 2px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: normal;
    color:#5bc500;
    border: 1px solid #5bc500;
    border-radius: 5px;
    
}

.EquipamientoAdicional:hover{
    -webkit-transition-duration: 0.4s;
    background-color: #5bc500;
    color: white;
}

th.ListaDePedidos{
    color: #00a9e0;
    font-size: 15px;
    font-weight: normal;
    margin: auto;
    text-align: center;
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: pre;
    width: auto;
}

td.ListaDePedidos{
    text-align: center;
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: pre;
    width: auto;
}
input[type='submit'].ActualizarPedidos{
    margin-left: 10%;
    background-color: #5bc500;
    border-color: #5bc500;
    font-weight: normal
}

input[type='submit']:hover.ActualizarPedidos{
    margin-left: 10%;
    color: #5bc500;
    border-color: #5bc500;
    font-weight: normal;
}

a.linkPedidos{
    color: white;
    margin-left: 10%;
    background-color: #5bc500;
    border-color: #5bc500;
    font-weight: normal;
    padding: 10px;
    border-radius: 5px;
}

a.linkPedidos:hover{
    color: #5bc500;
    background-color: white;    
    border: 2px solid #5bc500;
    font-weight: normal;
    -webkit-transition-duration: 0.4s;
}

legend{
    font-weight: bold;
}

.TableroPedido{
    width: 70%;
    margin: auto;
    text-align: center;
}


.Opciones{      
    border: 1px solid #00a9e0;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    color: #00a9e0;
}
.Opciones:hover{
    border: 1px solid #00a9e0;
    background-color: #00a9e0;
    -webkit-transition-duration: 0.4s;
    color: #fefefe;
}


/*Negro*/
a{
    text-decoration: none;
}


.linkCalculadora{
    color: white;
    padding: 10px;
    font-family: MovistarText;
    font-size: 15px;
    border-radius: 3px;
    margin-left: 10px;
    border: 1px solid white;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;    
}
.linkCalculadora:hover{
    background-color: white;
    color: #333333;
}

fieldset {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

form {
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

input[type='text']{
    width: 100px;
    border: none;
    border-bottom: 1px solid #5bc500 ;
    font-family: MovistarText;
    color: #50535a;
    
}

input[type='text']:disabled{
    background-color: white;
    font-family: MovistarText;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    color: #50535a;
}

input[type='text']:focus{
    outline: none;
}

textarea{
    border: none;
    border-bottom: 1px solid #5bc500 ;
    font-family: MovistarText;
    color: #50535a;
    text-align: center;
}

textarea:disabled{
    background-color: white;
    font-family: MovistarText;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

textarea:focus{
    outline: none;
}


input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: white;
    background-image: none !important;
    color: rgb(0, 0, 0) !important;
}


input[type='submit']{
    width: 100px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px;
    border: 2px solid #00a9e0;
    background-color: #00a9e0;
    color: #fefefe;
    font-weight: bold;
    padding: 5px;
    
    font-family: MovistarText;
    
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;    
       
}

input[type='submit']:hover{
    
  background-color: #fefefe;
  color: #00a9e0;
      
}

input[type='password']{
    width: 100px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px;
    border: 1px solid rgb(0,176,240);
    font-family: MovistarText;
    color: rgb(0, 92, 132);
    text-align: center;
}

select{
    border: none;
    border-bottom: 1px solid #5bc500;
    font-family: MovistarText;
    color: #50535a;    
}

h1{
    margin: 0px;
    text-align: center;
    color: rgb(0,176,240);
}

h2{
    margin: 0px;
    text-align: center;
    font-size: 30px;
}

h3{
    background-color: #00a9e0;
    color: white;
    border-radius: 10px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

h4{
    background-color: #5bc500;
    color: white;
    border-radius: 10px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: normal;
}
h4:hover{
    -webkit-transition-duration: 0.4s;
    background-color: white;
    color: #5bc500;
    border: 2px solid #5bc500;
}

h5{
    margin: 0px;
    text-align: center;
    color: rgb(0,176,240);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

h6{
    margin: 0px;
    font-size: 15px;
    color: rgb(0,176,240);
    text-align: left;
    font-weight: normal;
    margin-bottom: 5px;
}
h7{
    text-align: center;
    font-size: 15px;
    color: rgb(0,176,240);
    font-weight: normal;
}

#AltaNueva, #consultarxy{
   text-align: center;
   color:white;
   font-weight: bold;
   background-color: rgb(0,176,240);
   border: 1px solid rgb(0,176,240);
   border-radius: 3px;
   padding: 5px;
}
h9{
    text-align: center;
    font-size: 15px;
    color: rgb(0,176,240);
    font-weight: normal;
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: pre;
    margin:10%;  
}

h10{
    background-color: #5bc500;
    color: white;
    border-radius: 10px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 12pt;
}

body
{
    background-color: #333333;
font-family: MovistarText;
}

.ui-dialog {
    background-color: white;
}

/*Celeste*/


.cabecera,th , .modoOperacionSeleccionado,#cabeceraLogin,.ui-dialog-titlebar {
   color:#00a9e0 ;
}

.totalComparacion,.mensaje {
   background-color: rgb(198,241,255) !important; /*Celeste corporativo*/
   border:solid 1px rgb(140,226,255) !important; /*Celeste corporativo*/
}

.Parrilla{
    text-align: center;
    align-self: center;
}

.CabeceraTablero{
    background-color: rgb(0,176,240);
    color: white;
    border-radius: 10px;
    height: 20px;
}

/*Gris*/


.lateral,.modoOperacion,.boton,.ui-widget-overlay {
   background-color: rgb(242,242,242); /*Gris*/
   border: 1px solid rgb(192,192,192); /*Gris*/
}

/* input {
    background-color: rgb(250,250,250); 
    border: 1px solid rgb(192,192,192); 
}*/


.elementoComparacion, #TablaAverias td,#login,.ui-dialog {
  border: 1px solid rgb(242,242,242);    /*Gris de borde*/
}

/*Verde*/
.up_arpu,.mejor_oferta
{
   background-color: rgb(77,190,3); /*Verde*/
   border: 1px solid rgb(27,140,3); /*Verde*/
   color:white;
}


.estelar {
color:rgb(77,190,3);
background-color:yellow;
}

.movimiento {
    color: rgb(77,190,3);
}

/*Rojos*/
.error,.mensajeResaltado,.linkRetenciones,.linkHerramientas
{
   color: red;
   font-weight:bold;
}

.down_arpu,.down_arpu_mejores {
   background-color:red !important; 
   border:1px solid rgb(205,50,50) !important;
   color:white !important;
}

#PrioridadMigracionHFC {
    background-color:#FFEFEF !important;
    color: red !important;
    border: 1px solid red !important;
}

.ui-button {
    background-color:red;
}

#consultar{
    background-color: #5bc500;
    border-color: #5bc500;
    color: white;
    font-weight: normal;
}
#consultar:hover{
    -webkit-transition-duration: 0.4s;
    background-color: white;
    color: #5bc500;
    border: 2px solid #5bc500;
}

#password,#usuario{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px; 
    border: 1px solid rgb(0,176,240) ;
}

.RentalTotal{
    color: #333333;
    font-weight: normal;
}
.RentalRegular{
    color:rgba(0, 0, 0, 0.5);
}

.RentalTotalOculto{
    color: white;
}

.CerrarSesion,.Equipo{
    color: rgb(0,176,240);
    border-radius: 5px; 
    padding: 5px;
    font-size: 12.5px;
    font-weight: bold;
    
    -webkit-transition-duration: 0.4s;
}

.CerrarSesion:hover,.Equipo:hover{
    background-color: rgb(0,176,240);
    color: white;
    border: 1px solid rgb(0,176,240) ;
    border-radius: 5px; 
    padding: 5px;
}

.Pedido{
    color: white;
    background-color: #5bc500;
    border-radius: 5px; 
    padding: 5px;
    font-size: 12.5px;
}

.Pedido:hover{
    background-color: white;
    color: #5bc500;
    border: 1px solid #5bc500 ;
    border-radius: 5px; 
    padding: 5px;
}
/* The Modal (background) */
.modal,.modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 20px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content, .modal-content1{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 10px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: #00a9e0;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    background-color: #00a9e0;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}

.close2 {
    color: #00a9e0;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: white;
    background-color: #00a9e0;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}

.close3 {
    color: #00a9e0;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close3:hover,
.close3:focus {
    color: white;
    background-color: #00a9e0;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}

.closeEstadoPedido {
    color: #00a9e0;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeEstadoPedido:hover,
.closeEstadoPedido:focus {
    color: white;
    background-color: #00a9e0;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}


.modal-header, .modal-header1{
    padding: 2px 16px;
    color: white;
    border-radius: 10px;
    text-align: center;
}

.modal-body,.modal-body1 {
    padding: 2px 16px;
    border-radius: 10px;
    text-align: center;
}

.modal-footer,.modal-footer1 {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
        text-align: center;
}

#InformacionPed ul, #InformacionPed ul li p {
    margin: 0px;
    padding: 0px;
}
#InformacionPed ul li {
    list-style-type: none;
}
#InformacionPed div ul li {
    display: inline-block;
    vertical-align: middle;
}
#InformacionPed .cabeceras {
    text-align: center;
    font-size: 15px;
    color: rgb(0,176,240);
    font-weight: bold;
}
#InformacionPed .cabeceras li {
    width: 40%;
    text-align: center;
    padding: 10px 0px;
    box-sizing: border-box;
    display: inline;
}
#InformacionPed .cabeceras li:nth-child(n) {
    width: 50%;
    text-align: center;
    padding: 10px 0px;
    box-sizing: border-box;
    display: inline-block !important;
}
#InformacionPed .cabeceras li:nth-child(1) {
    width: 41.5%;
    border-right: 1px solid rgb(0,176,240);
}
#InformacionPed .cabeceras li:last-child {
    width: 58.5%;
}
#InformacionPed .contenido .cabeceraCont li {
    text-align: center;
    font-size: 15px;
    color: rgb(0,176,240);
    font-weight: normal;
    padding: 8px  0px;
}
#InformacionPed .contenido>ul {
    padding: 4px 0px;
    box-sizing: border-box;
    width: 100%;
}
#InformacionPed .contenido>ul.cabeceraCont {
    padding: 0px;
}
#InformacionPed .contenido>ul.cabeceraCont {
    padding: 0px;
}
#InformacionPed .contenido>ul>li {
    width: 12.5%;
    text-align: center;
    box-sizing: border-box;
    display: inline;
}
#InformacionPed .contenido>ul>li:nth-child(n) {
    display: inline-block !important;
}
#InformacionPed .contenido>ul>li:last-child {
    border-right: none;
}
#InformacionPed .contenido>ul>li:first-child {
    width: 8%;
}
#InformacionPed .contenido>ul>li:nth-child(2) {
    width: 13%;
}
#InformacionPed .contenido>ul>li:nth-child(3) {
    width: 9.5%;
}
#InformacionPed .contenido>ul>li:nth-child(4) {
    width: 11%;
    border-right: 1px solid rgb(0,176,240);
}
#InformacionPed .contenido>ul.cabeceraCont>li:nth-child(4) {
    border-right: 1px solid rgb(0,176,240);
}
#InformacionPed .contenido>ul>li:nth-child(5) {
    width: 9%;
}
#InformacionPed .contenido>ul>li:nth-child(6) {
    width: 9%;
}
#InformacionPed .contenido>ul>li:nth-child(7) {
    width: 22%;
}
#InformacionPed .contenido>ul>li:nth-child(8) {
    width: 18.5%;
}
#InformacionPed .contenido>ul.cont {
    padding: 0px;
    border-bottom: 1px solid #cccccc;
    display: flex;
}
#InformacionPed .contenido>ul.cont li {
    padding: 6px 0px;
    min-height: 28px;
}