@font-face { font-family: "MovistarText"; font-style: normal; font-weight: normal; src: url("fonts/TelefonicaWeb-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/TelefonicaWeb-Regular.woff") format("woff"), url("fonts/Telefonica-Regular.ttf") format("truetype"), url("fonts/TelefonicaWeb-Regular.svg#TelefonicaWeb-Regular") format("svg"); }
@font-face { font-family: "MovistarText"; font-style: normal; font-weight: bold; src: url("fonts/TelefonicaWeb-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/TelefonicaWeb-Bold.woff") format("woff"), url("fonts/Telefonica-Bold.ttf") format("truetype"), url("fonts/TelefonicaWeb-Bold.svg#TelefonicaWeb-Bold") format("svg"); }
@font-face { font-family: "Telefonica-Bold"; src: local("0"), url("fonts/TelefonicaWeb-Bold.woff/3f9fd5db-8462-4736-9acb-ecea3c29eb8d") format("woff"), url("fonts/Telefonica-Bold.ttf/ee9d8ae6-77d5-48e7-be46-da18ce8f275d") format("truetype"); }
@font-face { font-family: "TelefonicaWeb-Light"; font-style: normal; src: url("fonts/TelefonicaWeb-Light.eot?#iefix") format("embedded-opentype"), url("fonts/TelefonicaWeb-Light.woff") format("woff"), url("fonts/Telefonica-Light.ttf") format("truetype"), url("fonts/TelefonicaWeb-Light.svg#TelefonicaWeb-Light") format("svg"); }
@font-face { font-family: "TelefonicaWeb-Light"; font-style: normal; src: url("fonts/TelefonicaWeb-Light.eot?#iefix") format("embedded-opentype"), url("fonts/telefonica/TelefonicaWeb-Light.woff") format("woff"), url("fonts/Telefonica-Light.ttf") format("truetype"), url("fonts/TelefonicaWeb-Light.svg#TelefonicaWeb-Light") format("svg"); }
@font-face { font-family: "MovistarHeadline"; font-style: normal; font-weight: bold; src: url("../fonts/TelefonicaWeb-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/TelefonicaWeb-Regular.woff") format("woff"), url("fonts/Telefonica-Regular.ttf") format("truetype"), url("fonts/TelefonicaWeb-Regular.svg#TelefonicaWeb-Regular") format("svg"); }
/*Negro*/



a{
    text-decoration: none;
}

.linkCalculadora{
    color: white;
    padding: 10px;
    font-family: MovistarText;
    font-size: 15px;
    border-radius: 3px;
    margin-left: 10px;
    border: 1px solid white;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;    
}
.linkCalculadora:hover{
    background-color: white;
    color: #333333;
}

fieldset {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

form {
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

input[type='text']{
    width: 100px;
    border: none;
    border-bottom: 1px solid #5bc500 ;
    font-family: MovistarText;
    color: #50535a;
    
}

input[type='text']:disabled{
    background-color: white;
    font-family: MovistarText;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    color: #50535a;
}

input[type='text']:focus{
    outline: none;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: white;
    background-image: none !important;
    color: rgb(0, 0, 0) !important;
}


input[type='submit']{
    width: 100px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px;
    border: 2px solid #00a9e0;
    background-color: #00a9e0;
    color: #FFEFEF;
    font-weight: bold;
    padding: 5px;
    
    font-family: MovistarText;
    
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;    
       
}

input[type='submit']:hover{
    
  background-color: #FFEFEF;
  color: #00a9e0;
      
}

input[type='password']{
    width: 100px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px;
    border: 1px solid rgb(0,176,240);
    font-family: MovistarText;
    color: rgb(0, 92, 132);
    text-align: center;
}

select{
    border: none;
    border-bottom: 1px solid #5bc500;
    font-family: MovistarText;
    color: #50535a;    
}

h1{
    margin: 0px;
    text-align: center;
    color: rgb(0,176,240);
}

h2{
    margin: 0px;
    text-align: center;
    font-size: 30px;
}

h3{
    background-color: #00a9e0;
    color: white;
    border-radius: 10px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

h4{
    background-color: #5bc500;
    color: white;
    border-radius: 10px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: normal;
}


h5{
    margin: 0px;
    text-align: center;
    color: red;
}

h6{
    margin: 0px;
    text-align: center;
    font-size: 30px;
}
h9{
    text-align: center;
    font-size: 15px;
    color: rgb(0,176,240);
    font-weight: normal;
    margin:10%;  
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: pre;
}

body
{
    background-color: #333333;
    color: white;
    font-family: MovistarText;
}

.ui-dialog {
    background-color: white;
}

/*Celeste*/


.cabecera,th , .modoOperacionSeleccionado,#cabeceraLogin,.ui-dialog-titlebar {
   color:#00a9e0 ;
}

.totalComparacion,.mensaje {
   background-color: rgb(198,241,255) !important; /*Celeste corporativo*/
   border:solid 1px rgb(140,226,255) !important; /*Celeste corporativo*/
}

.Parrilla{
    text-align: center;
    align-self: center;
}

.CabeceraTablero{
    background-color: rgb(0,176,240);
    color: white;
    border-radius: 10px;
    height: 20px;
}

/*Gris*/


.lateral,.modoOperacion,.boton,.ui-widget-overlay {
   background-color: rgb(242,242,242); /*Gris*/
   border: 1px solid rgb(192,192,192); /*Gris*/
}

/* input {
    background-color: rgb(250,250,250); 
    border: 1px solid rgb(192,192,192); 
}*/


.elementoComparacion, #TablaAverias td,#login,.ui-dialog {
  border: 1px solid rgb(242,242,242);    /*Gris de borde*/
}

/*Verde*/
.up_arpu,.mejor_oferta
{
   background-color: rgb(77,190,3); /*Verde*/
   border: 1px solid rgb(27,140,3); /*Verde*/
   color:white;
}


.estelar {
color:rgb(77,190,3);
background-color:yellow;
}

.movimiento {
    color: rgb(77,190,3);
}

/*Rojos*/
.error,.mensajeResaltado,.linkRetenciones,.linkHerramientas
{
   color: red;
   font-weight:bold;
}

.down_arpu,.down_arpu_mejores {
   background-color:red !important; 
   border:1px solid rgb(205,50,50) !important;
   color:white !important;
}

#PrioridadMigracionHFC {
    background-color:#FFEFEF !important;
    color: red !important;
    border: 1px solid red !important;
}

.ui-button {
    background-color:red;
}

#consultar{
    background-color: #5bc500;
    border-color: #5bc500;
    color: white;
    font-weight: normal;
}
#consultar:hover{
    -webkit-transition-duration: 0.4s;
    background-color: white;
    color: #5bc500;
    border: 2px solid #5bc500;
}

#password,#usuario{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px; 
    border: 1px solid rgb(0,176,240) ;
}

.RentalTotal{
    color: #333333;
    font-weight: normal;
}
.RentalRegular{
    color:rgba(0, 0, 0, 0.5);
}

.RentalTotalOculto{
    color: white;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 20px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 10px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: #00a9e0;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    background-color: #00a9e0;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}

.close2 {
    color: #00a9e0;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: white;
    background-color: #00a9e0;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}

.close3 {
    color: #00a9e0;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close3:hover,
.close3:focus {
    color: white;
    background-color: #00a9e0;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}

.closeEstadoPedido {
    color: #00a9e0;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeEstadoPedido:hover,
.closeEstadoPedido:focus {
    color: white;
    background-color: #00a9e0;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}

.modal-header {
    padding: 2px 16px;
    color: white;
    border-radius: 10px;
    text-align: center;
}

.modal-body {
    padding: 2px 16px;
    border-radius: 10px;
    text-align: center;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
        text-align: center;
}
