
#pagina_login
{
	background-color: #0070a3; /* #034350;00008B;*/
	color: white;
}

.etiqueta_login
{
   width: 100px;
   display: inline-block;
}

#username, #password
{
	display: inline-block;
	width: 150px;
}

.mensaje_error
{
	color: red;
	font-size: bold;
	background-color: white;
	padding: 5px;
}

#imagen_login
{
	background-image: url('../images/telefonica-logo.jpg');
        background-repeat: no-repeat;
	width: 50px;
	height: 100%;
}

#formulario_login
{
	width: 300px;
}



.buttonLogin{
	border:0;
	padding:0 30px;
	height:25px;
	/*width:30px;*/
	line-height:27px;
	text-align:center;
	font-size:12px;
	color:white;
	/*text-shadow:#007dab 0 1px 0;
	/*background:#0092c8;*/
	/*-moz-border-radius:40px;*/
	border-radius:4px; 
	/*cursor:pointer;*/
	background-image: url(../images/button_login2.jpg);
	}
	
div.center {
  margin-left: auto;
  margin-right: auto;
  width: 8em;
}
