
.ui-button-text
{
    font-size: 12px;
}



.ui-buttonset
{
    margin:0px;
    margin-bottom: 5px;
}

.mensajeResaltado
{
    width: 80%;
    background-color:#FFEFEF; border: 1px solid red;color: red;padding: 6px;
}

#TablaComparacion tr
{
    height: 25px;
}


.verde
{
   background-color:rgb(91, 197, 0);
   color: white;
}

.azul
{
   background-color:rgb(0, 169, 224);
   color: white;
}

.celeste
{
   background-color:rgb(210, 242, 255);
   color: black;
   font-weight: lighter;
}

.amarillo
{
   background-color:rgb(255, 192, 0);
   color: white;
   text-align: center;
}

.bullet
{
   text-align: center;
   color : white;
   border-radius:8px;
   padding: 5px;
   margin: 5px;
   border: 5px;
   height: 40px;
   
}

.round
{
   border-radius:4px;
}


table td
{
    padding: 0px;
}

.Registro
{
   border: 1px solid #043F52;
   height: 30px;
   text-align: center;
}

h1
{
   padding-top: 10px;
   text-align: center;
   font-size: 18px;
   margin:0px;
}

#boton_averias, #boton_movimientos,#boton_reclamos {
    display:inline-block;
    background-repeat:no-repeat;
    background-size: 100% 100%;
    width:30px;
    height:30px;
    bottom:0;
    right:0;
}

#retenciones_opciones
{
    width: 100%;
}

h2
{
   color: rgb(97,184,205);
   font-size: 14px;
   margin:2px;
}


.error
{
   color: red;
   font-weight:bold;
}
.errorIncremento
{
   color: blue;
   font-weight:bold;
}
/*Colores Cajas Parrilla Completa*/
.up_arpu
{
   background-color: green;
   color:white;
}

.down_arpu {
   background-color:#920000;
   color:white;
}


.down_arpu_mejores {
   background-color:red;
   color:white;
}

.mejor_oferta
{
   background-color: #00FF44;
}

/* Texto Caja Ofertas*/
div.producto
{
   display:table-cell;
   position: relative;
}


div.orden_down
{
   font-weight: bold;
   text-align: left;
}

div.precio,div.orden_down
{
   width: 100%;
   height: 100%;
   line-height: 22px;
   position: absolute;
   top : 0;
   left: 0;

}

/*Inicio Averias*/
#TablaAverias
{
    margin: 0 auto;
    width: 210px;
}

#TablaAverias tr
{
    height: 30px;
}

#TablaAverias th
{
   border-color: #008000 !important; 
   background-color: #008000;
   padding-top: 5px;
   padding-bottom: 3px;
   color: #fff !important;
   font-weight: bold;
   text-align: center;
}

#TablaAverias td
{
    border: 1px solid #008000;
    padding: 5px;
    color: #008000 !important;
    font-weight: bold;
    text-align: center;
}
/*Fin Tabla Averias*/




#modosDeOferta
{
    text-align: center;
}

#retenciones_premiumTV
{
    margin: 10px;
}


.boton
{
    width: 100%;
}

div#oferta
{
    width: 400px;
    margin-left: 30px;
}





table.parilla_productos
{
   border-collapse: collapse;
   padding: 0px;
}



table.TablaComparacion
{
   margin: 5px;
   border: none;
}

div.cabecera {
   width:100px;
   overflow: hidden;
}

td.vacio,td.producto {
   height: 28px;
   padding:0px;
   border: 1px;
   text-align: center;
}

div.vacio,div.nivel4,div.producto,span.producto  {
   width: 64px;
   height:100%;
   vertical-align: middle;
   display:block;
}



html div.vacio,div.nivel4,div.producto,span.producto  {
   border-color:pink;
   filter: chroma(color=pink);
}

div.nivel4
{
    height: 28px;
    line-height: 28px;
}

td.vacio,td.producto {
   padding:0px;
   border: 1px solid rgb(4,63,82);
   text-align: center;
}

td.nivel1 {
   padding:0px;
   border: 1px solid rgb(4,63,82);
   background-color: rgb(4,63,82);
   color:white;
   text-align: center;
   width: 70px;
}

div.nivel1 {
   padding:0px;
   overflow:hidden;
   width: 80px;


}

#DatosCliente
{
    margin-top: 10px;

}

div.nivel2 {
   padding:0px;
   overflow:hidden;
   width: 80px;
}

div.nivel3,div.cabecera {
   padding:0px;
   overflow:hidden;
   width: 120px;
}

td.vacio
{
   width: 70px;

}


td.nivel3 {
   padding:0px;
   border: 1px solid rgb(4,63,82);
   overflow: hidden;
   text-align: center;
   color: #1C94C4;
   border-color: #1C94C4;
   background-color: #EFE;
   font-weight: bold;
   width: 100px;
}

td.nivel2 {
   padding:0px;
   border: 1px solid rgb(4,63,82);
   background-color: rgb(97,184,205);
   overflow: hidden;
   text-align: center;
}


body {
   font-family:'Arial';
   color: rgb(4,63,82);
   font-size: 9pt;
}

td.datosCliente_etiqueta {
   width:100px;
   font-weight:bold;
}

td.datosCliente_contenido{
   width:200px;
}

#ParrillaCompleto
{
    margin-top: 30px;
}

#Predictor
{
   alignment-baseline: middle;
   text-align: left;
   font-weight: bold;
}


th
{
    text-align:left;
}

.detalleOferta_Titulo {
   font-weight:bold;
   font-size:14px;
   padding: 5px;
   text-align:center;
   margin-bottom: 10px;
}


.productoSeleccionado {
   border: 3px solid black;
}






#HFC{
   background-color: #1C94C4;
   border: 1px solid #1C94C4;
   border-bottom: 1px solid #043F52;
   color: #FFFFFF;
   padding: 3px;
   text-align: center;
   font-weight: bold;
   font-size: 15px;
}
#ADSL{
   background-color: #ACE6EA;
   border: 1px solid #ACE6EA;
   border-bottom: 1px solid #043F52;
   color: #043F52;
   padding: 3px;
   text-align: center;
   font-weight: bold;
   font-size: 15px;
}



.linkRetenciones{
   font-weight: bold;
   text-align: center;
   color:red;
   text-decoration:underline;
   cursor: pointer;
}
div.linkRetenciones:hover{
   color:blue;
   text-decoration:underline;
}

.linkHerramientas{
   font-weight: bold;
   text-align: center;
   color:red;
   text-decoration:underline;
   cursor: pointer;
}
div.linkHerramientas:hover{
   color:blue;
   text-decoration:underline;
}



table.MigracionMasiva
{
   margin-left:auto;
   margin-right:auto;
   border-collapse: collapse;
}

table.MigracionMasiva th,table.MigracionMasiva td
{
   padding-left: 10px;
   padding-right: 10px;
}

#retenciones_opciones
{
   display:none;
}

.cliente_dato{
   width: 100%;
   padding: 3px;
   word-wrap: break-word;
   font-weight: bold;
}
#NuevoContenido {
   font-family: Arial;
   color: black;
}

.titulo1 {
   color: #1C94C4;
   font-weight: bold;
   font-size: 12px;
   padding: 5px;
   text-align: center;
}

.cajaTexto {
   border: 1px solid lightgrey;
   font-size: 12px;
   text-align: center;
}

.cajaRegistro {
   border: 1px solid black;
   padding: 4px;
   text-align: center;
}

.componentesParrilla {
   color: #1C94C4;
   border-color: #1C94C4;
   background-color: #efe;
   font-weight: bold;
   padding: 2px;
}
.cabeceraParrilla {
   padding-top: 5px;
   padding-bottom: 3px;
   text-align:center;
   color: #fff !important;
   border-color: #043F52 !important;
   background-color: #043F52;
   font-weight: bold;
   color: white;
   padding: 2px;
}

.MostrarRegistro {
   text-align: left;
   background: url('../images/flechaDown.png') no-repeat 3px 5px;
   padding-left: 20px;
}


.cabeceraParrillaLineaNombre{

}
.mensajeVerde{
   color: #008000;
   font-weight: bold;
}


.div_contenedor
{
    height: auto !important;
    position: relative;
}

table.div_contenedor
{
    border-collapse: collapse;
}




.datos_paquete_nombre{
   font-size: 14px;
   padding: 5px;
   font-weight: bold;
}

.datos_contenedor{
   width: 220px;
   min-width: 220px;
   max-width: 250px;
   height: 100%;
   position: relative;
}

.anchoMovimiento, .anchoSoloDescripcion, .anchoDescripcion,.datos_renta
{
    height: 100%;
    padding: 0px;
    vertical-align: middle;
}
.anchoMovimiento
{
   width: 70px;
}

.anchoSoloDescripcion
{
   width: 160px;
}


.anchoDescripcion
{
   left: 70px;
   width: 90px;
}

.datos_renta
{
    color: #043F52;
    font-weight: bold;
    width: 60px;
}




.componenteCompletaTuTrioTV{
   background-color: #ace6ea;
   font-weight: bold;
}

.rentaTotal {
    background-color: #EEFFEE;
    color: #043F52;
    background-color: #ace6ea;
    font-weight: bold;
    padding: 5px;
}

.MigBeneficio{
    font-weight: bold;
    height: 20px;
}

.div_contenedor td
{
    padding: 0px;
    margin: 0px;
}


.MigDetalle{
    height: 20px;
}

.MigPrecio{
    font-size: 8pt !important;
}
.MigMovimiento
{
   background: url('../images/flecha_incremento2.jpg') no-repeat center;
   padding: 0px !important;
}
#session-header
{
    text-align: right;
    font-weight: bold;
    font-size: 13px;
}


.Averias
{
    
}

.ProductoSVA
{
    height: 30px;
}

.Registro_Ps
{
    text-align: center;
}

.ProductoSVA_hover
{
    background-color: #eeeeee;
    cursor: pointer;
    font-weight: bold;
}

.etiquetaSva, .precioSva
{
    border: 1px solid #043F52;
    padding: 5px;
}



.btn-primary
{
   display: block;
   border: 1px solid red;
   background: red;
   color: #fff;
   float:right;
   padding: 5px;
   text-decoration: none;
   margin: 2px;
}

div.cliente_dato_msj_migra{
   /*width: 100%;*/
   padding-bottom: 10px;
   padding-top: 10px;
   word-wrap: break-word;
   min-height: 10px;
   font-weight: bold;
   float: left;
   width: 400px;
   font-size: 18px;
   position: absolute;
   left: 50%;
   margin-left: -200px;
   text-align: center;
   top:0px !important;
   text-transform: uppercase;
}

.etiquetaSva
{
    width: 140px;
}

#Identificadores
{
    text-align: center;
}

input{
   text-align:center;
}

/*Nueva oferta*/
.classHighlight_newOffer_header
{
    background: #4DEA29 !important;
    color: #FFFFFF !important;

}

.classHighlight_newOffer_header_before
{
    background: #043F52 !important;
    color: #FFFFFF  !important;
}

.classHighlight_newOffer_body
{
    background: #B5EAA9 !important;
    color: #000 !important;
}


#MensajeTrioSinDuoInternetTv{
   color: red;
   margin-top: 10px;
   margin-bottom: 10px;
}

/* Para el boton nuevo del modal speech 1era linea*/
.verdeSpeechLinea
{
   
   background-color:rgb(91, 197, 0);
   color: white;
   border-radius:4px;
   font-size: 12px;
   padding: 6px;
   width: 20%;
   margin-top: 3px;
}
.azulSpeechLinea
{
   background-color:#1C94C4;
   
   color: white;
   border-radius:4px;
   font-size: 12px;
   padding: 6px;
   width: 20%;
   margin-top: 3px;
}