.cliente_etiqueta
{
    width: 120px;
    height: 20px;
    text-align: right;
    padding-right: 5px;
    
}

#mensajes {
    border-spacing: 10px;
}

.mensaje {
    font-size: 16px;
    height: 30px;
}

.ui-widget-overlay {
    opacity: 0.5;
}
#login
{
    font-size: 18px;
    width:300px;
    height:270px;
    text-align: center;
    border-radius: 3px;
}

#login input {
    height:35px;
    width:200px
}

#cabeceraLogin
{
    height:50px;
    display: table-cell;
    vertical-align: middle;
    width: 500px;
}

#login, #banner {
    text-align: center;
}

.etiquetaLogin {
    margin-top: 25px;
}

#MigracionMasiva {
    width: 600px;
}



.Registro
{
   border: 1px solid #043F52;
   height: 30px;
   text-align: center;
}

h1
{
   
}

h2
{
   font-size: 16px;
   margin: 0px;
}

div.precio,div.orden_down
{
   width: 100%;
   height: 100%;
   line-height: 22px;
   position: absolute;
   top : 0;
   left: 0;

}



#TablaAverias td, #TablaAverias th
{
    padding: 5px;
    height: 20px;
    text-align: center;
}


div#oferta
{
    width: 400px;
    margin-left: 30px;
}




table.TablaComparacion
{
   margin: 5px;
   border: none;
}

.producto, .elementoComparacion,.totalComparacion {
   padding:0px;
   text-align: center;
}

.totalComparacion {
    font-weight: bold;
}



.modoOperacion {
    width: 60px;
    min-width: 60px;
    max-width: 60px;
    padding: 0px;
    min-height: 20px;
    max-height: 20px;
    height: 20px;
    text-align: center;
}


#PanelIzquierda {
    min-width: 320px;
    width: 320px;
}


#DatosCliente
{
    margin-top: 10px;

}

.cabeceraComparacion {
   min-width: 220px;
   max-width: 220px;
   width: 220px;
}

.movimiento {
    width: 50px;
}

.nombre_3 {
    width: 120px;
}

.nombre_2 {
    width: 170px;
}


.lateral, .cabecera, .producto, .cabeceraComparacion, .elementoComparacion,.boton {
    min-height: 20px;
    height:20px;
    max-height:20px;
    padding:0px;
    overflow: hidden;
    text-align: center;
}




.lateral, .cabecera, .producto {
   min-width: 80px;
   max-width: 80px;
   width: 80px;
}


body {
   font-size: 10pt;
}

td.datosCliente_etiqueta {
   width:100px;
   font-weight:bold;
}

td.datosCliente_contenido{
   width:200px;
}

#ParrillaCompleto
{
    margin-top: 30px;
}

#Predictor
{
   alignment-baseline: middle;
   text-align: left;
   font-weight: bold;
}


th
{
    text-align:center;
}

.detalleOferta_Titulo {
   font-weight:bold;
   font-size:14px;
   padding: 5px;
   text-align:center;
   margin-bottom: 10px;
}


.productoSeleccionado {
   border: 3px solid black;
}




.linkRetenciones{
   text-align: center;
   text-decoration:underline;
   cursor: pointer;
}

.linkHerramientas{
   text-align: center;
   text-decoration:underline;
   cursor: pointer;
}


table.MigracionMasiva
{
   margin-left:auto;
   margin-right:auto;
   border-collapse: collapse;
}

table.MigracionMasiva th,table.MigracionMasiva td
{
   padding-left: 10px;
   padding-right: 10px;
}

#retenciones_opciones
{
   display:none;
}

#NuevoContenido {
   font-family: Arial;
}

.titulo1 {
   font-weight: bold;
   font-size: 12px;
   padding: 5px;
   text-align: center;
}

.cajaTexto {
   border: 1px solid lightgrey;
   font-size: 12px;
   text-align: center;
}

.cajaRegistro {
   border: 1px solid black;
   padding: 4px;
   text-align: center;
}

.renta {
    font-weight: bold;
}

.MostrarRegistro {
   text-align: left;
   background: url('../images/flechaDown.png') no-repeat 3px 5px;
   padding-left: 20px;
}


.cabeceraParrillaLineaNombre{

}


.div_contenedor
{
    height: auto !important;
    position: relative;
}

table.div_contenedor
{
    border-collapse: collapse;
}




.datos_paquete_nombre{
   font-size: 14px;
   padding: 5px;
   font-weight: bold;
}

.datos_contenedor{
   width: 220px;
   min-width: 220px;
   max-width: 250px;
   height: 100%;
   position: relative;
}

.anchoMovimiento, .anchoSoloDescripcion, .anchoDescripcion,.datos_renta
{
    height: 100%;
    padding: 0px;
    vertical-align: middle;
}
.anchoMovimiento
{
   width: 70px;
}

.anchoSoloDescripcion
{
   width: 160px;
}


.anchoDescripcion
{
   left: 70px;
   width: 90px;
}




.MigBeneficio{
    font-weight: bold;
    height: 20px;
}

.div_contenedor td
{
    padding: 0px;
    margin: 0px;
}


.MigDetalle{
    height: 20px;
}

.MigPrecio{
    font-size: 8pt !important;
}
.MigMovimiento
{
   background: url('../images/flecha_incremento2.jpg') no-repeat center;
   padding: 0px !important;
}
#session-header
{
    text-align: right;
    font-weight: bold;
    font-size: 13px;
}


.Averias
{
    
}

.ProductoSVA
{
    height: 30px;
}

.Registro_Ps
{
    text-align: center;
}






.cliente_dato
{
    font-weight: bold;
    padding-left: 5px;
}

.etiquetaSva
{
    width: 140px;
}

#Identificadores
{
    text-align: center;
}

input[type='text'],label{
   text-align:center;
}

/*Google Maps*/

#map {
        height: 200px;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }
