


.contenido{
	width: 100%;
	height: 100%;
}
.full-box{
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.text-light{ font-weight: 300; }
.text-semi-bold{ font-weight: 600; }
.text-bold{ font-weight: 700; }
.full-width{
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.section{
	padding: 15px 0;
}
.container-category{
	text-align: center;
}
.container-category a{
	text-decoration: none;
	width: 150px;
	height: 150px;
	background-color: #FFF;
	border: 1px solid #d3d3d3;
	box-sizing: border-box;
	margin: 5px;
	display: inline-block;
	overflow: hidden;
	transition: all .3s ease-in-out;
	position: relative;
        border-radius: 5px;
}
.container-category a:hover{ color: #FFF; }
.container-category i,
.container-category span{
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	position: absolute;
	left: 0;
}
.container-category i{
	height: 90px;
	line-height: 90px;
	top: 0;
	font-size: 40px;
}
.container-category span{
	height: 60px;
	bottom: 0;
}
#categori-1:hover{ background-color: #E65100; border-color: #E65100; }/*naranja*/
#categori-2:hover{ background-color: #B71C1C; border-color: #B71C1C; }/*rojo*/
#categori-3:hover{ background-color: #1A237E; border-color: #1A237E; }/*azul oscuro*/
#categori-4:hover{ background-color: #03A9F4; border-color: #03A9F4; }/*celeste*/
#categori-5:hover{ background-color: #263238; border-color: #263238; }/*gris oscuro*/
#categori-6:hover{ background-color: #AFB42B; border-color: #AFB42B; }/*verde hoja seca*/
#categori-7:hover{ background-color: #00ACC1; border-color: #00ACC1; }/*naranja*/
#categori-8:hover{ background-color: #EF6C00; border-color: #EF6C00; }/*naranja*/
#categori-9:hover{ background-color: #00695C; border-color: #00695C; }/*naranja*/
#categori-10:hover{ background-color: #607D8B; border-color: #607D8B; }/*naranja*/
#categori-11:hover{ background-color: #1976D2; border-color: #1976D2; }/*naranja*/
#categori-12:hover{ background-color: #3949AB; border-color: #3949AB; }/*naranja*/
#categori-14:hover{ background-color: #59adce; border-color: #59adce; }/*celeste*/
#categori-13:hover{ background-color: rgb(0,176,240); border-color: rgb(0,176,240); }/*telefonica*/
.icon-index{
	font-size: 90px;
	width: 170px;
	height: 170px;
	line-height: 170px;
	margin: 20px auto;
	display: block;
	padding: 0;
	text-align: center;
	border-radius: 5px;
	background-color: #B71C1C;
	color: #fff;
}