
body {
   font-family:'Arial';
   color: rgb(4,63,82);
   font-size: 9pt;
}

h1 {
   padding-top: 20px;
   font-size: 15px;
   margin:0px;
}

.Titulo1 {
   padding-top: 20px;
   text-align: Left;
   font-size: 22px;
   padding-left: 10px;
   font-weight: bold;
}
.Titulo2 {
   font-size: 18px;
   margin: 2px;
   color: rgb(97,184,205);
   padding-left: 10px;
   font-weight: bold;
}

.error {
   color: red;
   font-weight:bold;
}

.Left {
   left: 0px;
   text-align: left;
   font-size: 15px;
}
.Right {
   right: 0px;
   text-align: right;
   font-size: 18px;
   font-weight: bold;
}
#Identificadores{
   width:220px;
   min-width: 220px;
   padding: 10px;
}
#playa{
    width: 180px;
}
#datos_buscar{
    
}

#datos_mostrar{
   max-width: 600px;
   min-width: 300px;
}

#datos_contenido {
   width: 100%;
}

.cajaTexto {
   border: 1px solid #043f52;
   width: 100%;
}

.mensajeVerde{
   color: #008000;
   font-weight: bold;
}

.OpcionBusqueda{
    width: 100%;
    padding: 5px;
    background-color: #ffffff;
    text-align: left;
}
.OpcionBusqueda{
    width: 100%;
    padding: 5px;
    text-align: left;
    background-color: #ffffff;
    font-weight: normal;
}
.OpcionBusqueda:hover{
    background-color: #eeeeee;
    font-weight: bold;
}

.OfertaContenido{
    font-size: 12px;
    width: 100%;
}

.Detalle{
    padding-top: 11px;
    color: #666;
    font-weight: bold;
    font-size: 10px;
}
.Ubicacion{
    padding: 10px;
    color: #666;
    font-weight: bold;
    font-size: 12px;
}
.Observacion{    
    padding: 10px;
}

.test{
    border: 1px solid red;
}

#MenuArgumentario{
    padding: 10px;
    padding-top: 40px;
}
.MenuArgumentarioUl{
    width: 170px;
    text-align: center;
    color: #00517b;
    padding: 10px;
    background-color: #eeeeee;
    border: 1px solid #eeeeee;
}
.MenuArgumentarioUl:hover{
    width: 170px;
    text-align: center;
    color: chocolate;
    padding: 10px;
    font-weight: bold;
    background-color: #eeeeee;
    border: 1px solid orange;
}

