tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
.font15
	{color:red;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;}
.font16
	{color:black;
	font-size:12.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;}
td
	{mso-style-parent:style0;
	padding:0px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	color:#203864;
	font-weight:700;
	background:white;
	mso-pattern:black none;}
.xl66
	{mso-style-parent:style0;
	color:#C00000;
	font-size:10.0pt;
	font-weight:700;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl67
	{mso-style-parent:style0;
	text-align:justify;
	vertical-align:justify;
	background:white;
	mso-pattern:black none;}
.xl68
	{mso-style-parent:style0;
	background:white;
	mso-pattern:black none;}
.xl69
	{mso-style-parent:style0;
	font-weight:700;
	background:white;
	mso-pattern:black none;}
.xl70
	{mso-style-parent:style0;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl71
	{mso-style-parent:style0;
	color:#203864;
	font-size:12.0pt;
	font-weight:700;
	mso-number-format:"0\.0";
	text-align:center;
	border-top:.5pt solid white;
	border-right:none;
	border-bottom:.5pt solid white;
	border-left:.5pt solid windowtext;
	background:white;
	mso-pattern:black none;}
.xl72
	{mso-style-parent:style0;
	color:#203864;
	font-size:12.0pt;
	font-weight:700;
	text-align:left;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl73
	{mso-style-parent:style0;
	color:#203864;
	font-size:12.0pt;
	font-weight:700;
	text-align:left;
	background:white;
	mso-pattern:black none;}
.xl74
	{mso-style-parent:style0;
	font-size:12.0pt;
	background:white;
	mso-pattern:black none;}
.xl75
	{mso-style-parent:style0;
	color:#ED7D31;
	font-weight:700;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl76
	{mso-style-parent:style0;
	color:#203864;
	font-size:10.0pt;
	text-align:justify;
	vertical-align:justify;
	background:white;
	mso-pattern:black none;}
.xl77
	{mso-style-parent:style0;
	color:#A5A5A5;
	background:white;
	mso-pattern:black none;}
.xl78
	{mso-style-parent:style0;
	font-size:10.0pt;
	text-align:justify;
	vertical-align:justify;
	background:white;
	mso-pattern:black none;}
.xl79
	{mso-style-parent:style0;
	color:#44546A;
	font-size:12.0pt;
	font-weight:700;
	text-align:center;
	background:#D9E2F3;
	mso-pattern:black none;
	white-space:normal;}
.xl80
	{mso-style-parent:style0;
	color:#44546A;
	font-size:12.0pt;
	font-weight:700;
	text-align:justify;
	vertical-align:justify;
	background:#D9E2F3;
	mso-pattern:black none;}
.xl81
	{mso-style-parent:style0;
	font-size:10.0pt;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl82
	{mso-style-parent:style0;
	color:#44546A;
	font-size:12.0pt;
	font-weight:700;
	text-align:center;
	white-space:normal;}
.xl83
	{mso-style-parent:style0;
	color:#44546A;
	font-size:12.0pt;
	font-weight:700;
	text-align:justify;
	vertical-align:justify;}
.xl84
	{mso-style-parent:style0;
	color:#1F497D;
	font-size:10.0pt;
	text-align:justify;
	vertical-align:middle;}
.xl85
	{mso-style-parent:style0;
	color:#1F497D;
	font-size:10.0pt;
	font-family:Arial, sans-serif;
	mso-font-charset:0;
	text-align:justify;
	vertical-align:middle;}
.xl86
	{mso-style-parent:style0;
	color:#203864;
	font-size:12.0pt;
	font-weight:700;
	text-align:left;
	vertical-align:middle;
	background:white;
	mso-pattern:black none;}
